@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  height: 84px;
  position: fixed;
  color: #ffffff;
  background-color: #333;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.header .logo-ze-delivery img {
  width: 80px;
  padding: 16px;
  margin-left: 80px;
}

.header .delivery-address-conteiner {
  width: 700px;
  padding: 16px;
}

.header .delivery-address-conteiner .address {
  color: #ffc500;
}

.header .options-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .options-card svg {
  width: 24px;
  height: 24px;
}

.header .barra-pesquisa {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  font-weight: lighter;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333333;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #cccccc;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 48px;
  padding-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .barra-pesquisa svg {
  width: 40px;
  margin-top: 10px;
}

.header .barra-pesquisa input {
  width: 100%;
  height: 48px;
  border: none;
  margin-right: 0;
  border-radius: 8px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media (max-width: 750px) {
  .header .barra-pesquisa {
    display: none;
  }
  .header .delivery-address-conteiner {
    display: none;
  }
}

.header .right-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 100px;
  margin: 0 auto;
  padding: 16px 10px;
}

.header .right-conteiner .pre-checkout {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header .right-conteiner .pre-checkout .product-amount {
  width: 19px;
  height: 19px;
  font-size: 11px;
  border-radius: 50%;
  background-color: #000000;
  color: #ffc500;
  position: absolute;
  right: 90px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .right-conteiner .pre-checkout button {
  width: 85px;
  height: 48px;
  outline: none;
  border-radius: 24px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .right-conteiner .pre-checkout button:hover {
  background-color: #ffc500;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header .right-conteiner .pre-checkout img {
  margin-right: 100px;
  margin-top: 5px;
  padding: 5px;
}

@media (max-width: 749px) {
  #product-amount {
    display: none;
  }
}

main {
  padding-top: 84px;
}

nav {
  position: fixed;
  background-color: white;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
  width: 150px;
  height: 30px;
  border-color: #ffc500;
  border-style: solid;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
}

nav a:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

nav a img {
  width: 24px;
  height: 24px;
}

.carousel-item img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.painel {
  width: 200px;
  height: 280px;
}

.produtos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.produtos img {
  width: 181px;
  height: 208px;
}

.paralax {
  /* The image used */
  background-image: url("https://superempreendedores.com/wp-content/uploads/2018/10/Z%C3%A9-Delivery.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax2 {
  /* The image used */
  background-image: url("https://cdn.jornaldebrasilia.com.br/wp-content/uploads/2020/05/zedelivery.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

footer .back-to-top {
  background-color: #666;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
}

footer .back-to-top a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

footer .main-footer {
  background-color: #333;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 200px;
  padding: 15px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  font-family: 'Roboto', sans-serif;
}

footer .main-footer .images {
  text-align: center;
}

footer .main-footer .images .logo-footer {
  margin-bottom: 10px;
}

footer .main-footer .images .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .main-footer .footer-titles {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

footer .main-footer .about,
footer .main-footer .partnerships {
  background-color: #333;
  color: #ffffff;
  width: 200px;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}

footer .main-footer .about a,
footer .main-footer .partnerships a {
  margin-top: 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

footer .main-footer .app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

footer .bottom-footer {
  background-color: #333;
  color: #ffffff;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 75px;
  padding: 20px 20px 5px 20px;
  border-top: #ffffff 0.2px solid;
}

footer .bottom-footer .lgpd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

footer .bottom-footer .lgpd a {
  color: #ffffff;
}

footer .bottom-footer .company-data {
  text-align: center;
  line-height: 1.1;
}

@media (max-width: 768px) {
  .main-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
    padding: 15px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    font-family: 'Roboto', sans-serif;
  }
  .main-footer .about,
  .main-footer .partnerships {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
  }
  .main-footer .about a,
  .main-footer .partnerships a {
    margin-top: 5px;
  }
  .main-footer .about .footer-titles,
  .main-footer .partnerships .footer-titles {
    display: none;
  }
  nav {
    display: none;
  }
  .carousel-item {
    width: 100vw;
  }
  .bottom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    gap: 10px;
  }
}
/*# sourceMappingURL=style.css.map */